/**
 * Interface specific CSS.
 */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin-top: 0;
}
li:not(:first-child) {
  margin-top: 0.5em;
}
input[type='checkbox'] {
  cursor: pointer;
}
button {
  cursor: pointer;
  padding: 15px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.body-inner {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: stretch;
}
.body-inner > * {
  position: relative;
  display: block;
  height: 100%;
  padding: 10px;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.body-inner .main-wrapper {
  background-color: #fff6ee;
  flex-grow: 1;
}
.body-inner .main-wrapper .main-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: inherit;
  background-color: #fff6ee;
}
.body-inner .main-wrapper .main-popup .main-popup-logo {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.body-inner .debug-wrapper {
  width: 35vw;
  background-color: #EFEFEF;
  border-left: 1px #bcbcbc solid;
  flex-grow: 0;
  flex-shrink: 0;
}
.body-inner .debug-wrapper .debug-item {
  font-family: 'Courier New', Courier, monospace;
  color: #111111;
}
.body-inner .debug-wrapper .debug-item:not(:first-child) {
  margin-top: 10px;
}
.body-inner .debug-wrapper .debug-item .debug-item-script-name {
  float: left;
  font-style: italic;
  opacity: 0.8;
}
.body-inner .debug-wrapper .debug-item .debug-item-time {
  float: right;
  font-style: normal;
  opacity: 0.8;
}
.body-inner .debug-wrapper .debug-item .debug-item-text {
  clear: both;
}
