/**
 * Interface specific CSS.
 */

@padding: 10px;

body
{
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

h2
{
    margin-top: 0;
}

li
{
    &:not(:first-child)
    {
        margin-top: 0.5em;
    }
}

input[type='checkbox']
{
    cursor: pointer;
}

button
{
    cursor: pointer;
    padding: @padding*1.5 @padding*3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.borderBox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box; 
	box-sizing: 		border-box;
}

.body-inner
{
    @debug-width: 35vw;
    @main-wrapper-bg-color: #fff6ee;

    height: 100%;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: stretch;

    & > *
    {
        position: relative;
        display: block;
        height: 100%;
        padding: @padding;

        overflow: auto;

        .borderBox;
    }

    .main-wrapper
    {
        background-color: @main-wrapper-bg-color;
        flex-grow: 1;

        .main-popup
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;

            padding: inherit;

            background-color: @main-wrapper-bg-color;

            .main-popup-logo
            {
                float: right;
                margin-left: @padding;
                margin-bottom: @padding;
            }
        }

        .file-scan-results-wrapper
        {
            
        }
    }

    .debug-wrapper
    {
        @debug-bg-color: #EFEFEF;

        width: @debug-width;

        background-color: @debug-bg-color;
        border-left: 1px darken(@debug-bg-color, 20%) solid;

        flex-grow: 0;
        flex-shrink: 0;

        .debug-item
        {
            font-family: 'Courier New', Courier, monospace;
            color: #111111;

            &:not(:first-child)
            {
                margin-top: @padding;
            }

            .debug-item-script-name
            {
                float: left;
                font-style: italic;
                opacity: 0.8;
            }

            .debug-item-time
            {
                float: right;
                font-style: normal;
                opacity: 0.8;
            }

            .debug-item-text
            {
                clear: both;
            }
        }
    }
}