<div class='bugsui__inner'>
    <div class='bugsui__main'>
        {{! Screen name settings}}
        <div class="bugsui__screenname">
            <input class="bugsui__screenname-input js-bugsui-unitcode" type="text" value="{{unitCode}}">
            <div class="bugsui__screenname-text">-</div>
            <input class="bugsui__screenname-input js-bugsui-topicnum" type="number" min="0" max="20" step="1" value="{{topicNum}}">
            <div class="bugsui__screenname-text">-</div>
            <input class="bugsui__screenname-input js-bugsui-tasknum" type="number" min="0" max="999" step="1" value="{{taskNum}}">
            <input class="bugsui__screenname-input js-bugsui-tasksuffix" type="text" maxlength="3" placeholder="a" value="{{taskSuffix}}">
        </div>
        
        {{! Bug type & assignee settings}}
        <div class="bugsui__details">
            
            {{! Bug type}}
            <div class="bugsui__details-text" title="Example: a misspelling = an ID bug; the screen not working = a Developer bug.">Bug type:</div>
            <div class="bugsui__details-input">
                <select class="js-bugsui-bugtype">
                    <option value="" disabled selected>Select your option</option>
                    <option value="SME">SME</option>
                    <option value="Writer">Writer</option>
                    <option value="ID">ID</option>
                    <option value="Developer">Developer</option>
                    <option value="Developer">Text</option>
                    <option value="Developer">LG</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            {{! Bug assignee}}
            <div class="bugsui__details-text" title="The person that can answer/fix the bug(s) specified in the description.">Assignee:</div>
            <div class="bugsui__details-input">
                <select class="js-bugsui-bugassignee">
                    {{! Options generated by JS}}
                    {{#each _assignees}}
                        <option value="{{@this}}">{{@this}}</option>
                    {{/each}}
                </select>
            </div>
            
            {{! Bug title}}
            <div class="bugsui__details-text" title="Automatically generated using the above.">Bug title:</div>
            <div class="bugsui__details-text bugsui__details-generated js-bugsui-bugtitle">{{bugTitle}}</div>
        </div>

        {{! Bug description}}
        <div class="bugsui__desc">
            <div class="bugsui__desc-text" title="List all the bugs for the assignee here. You can use Ctrl-B and Ctrl-I to make text bold and italic, respectively.">Bug description:</div>
            <section class="bugsui__desc-input js-bugsui-desc" contenteditable="true">
                <ol>
                    <li></li>
                </ol>
            </section>
        </div>

        <div class="bugsui__controls">
            <button class="bugsui__btn js-bugsui-submit">Submit</button>
        </div>
    </div>

    {{! Debug overlay (while submission script is running)}}
    <div class='bugsui__blocker'>
        <div class='bugsui__blocker-inner'>
            <div class="bugsui__blocker-title">Submitting bug<br/>please wait…</div>
            <div class="bugsui__blocker-console"></div>
        </div>
    </div>
    <button class="bugsui__blocker-toggle js-bugsui-blocker-toggle">D</button>
</div>