/* Styles that will be applied everywhere in Zoho */
.zpp-btn {
    padding: 4px 6px;
    cursor: pointer;

    background: linear-gradient(45deg, rgb(147, 231, 147) 0%, rgb(147, 231, 147) 25%, rgb(173, 173, 235) 25%, rgb(173, 173, 235) 50%, rgb(245, 178, 178) 50%, rgb(245, 178, 178) 75%, rgb(253, 253, 157) 75%,  rgb(253, 253, 157) 100%);
    border-radius: 40px;
}

/* Top navbar */
/* ---------------------------------------------- */

/* Hide the tabs which we don't particularly have a use for */
.project-uppertabs-parent[tab-name="milestone"],
.project-uppertabs-parent[tab-name="documents"],
.project-uppertabs-parent[tab-name="timesheet"],
.project-uppertabs-parent[tab-name="forums"],
.project-uppertabs-parent[tab-name="dashboard"] {
    opacity: 0.2;
}


/* MileStats */
/* ---------------------------------------------- */
.zpp-milestats__inner {
    display: flex;
}

.zpp-milestats__content-container {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.zpp-milestats__content {
    padding: 0px 8px;
}

.zpp-milestats__red {
    color: red;
    font-style: italic;
}

.percentCount .zpp-milestats__red {
    color: #840b0b;
}

.fieldpermis[depth="0"]:not(:first-child) > td {
    border-top: 1px ridge #e4e4e4;
}

/* ProjectGroups */
/* ---------------------------------------------- */
.zpp-projectgroup__group-header > td {
    border-top: 6px solid #e4e4e4;
    border-bottom: 6px solid #e4e4e4;
}

/* LockScreen */
/* ---------------------------------------------- */
.zpp-lockscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(99, 33, 99, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    z-index: 999;
}

.zpp-lockscreen__content {
    position: relative;
    padding: 100px;
}

.zpp-lockscreen__content-inner {
    position: relative;
    padding: 100px;
}

.zpp-lockscreen h3 {
    margin-top: 1em;
}

.zpp-lockscreen__close {
    position: absolute;
    top: 0;
    right: 0;

    font-weight: bold;
    cursor: pointer;
}

/* STATUS TOOLTIPS */
.inline-update-container.widget-custom-scroll {
    overflow: visible !important;
    background: linear-gradient(45deg, rgb(248, 255, 248) 0%, rgb(248, 255, 248) 25%, rgb(246, 246, 255) 25%, rgb(246, 246, 255) 50%,  rgb(255, 250, 250) 50%, rgb(255, 250, 250) 75%, rgb(255, 255, 246) 75%,  rgb(255, 255, 246) 100%); /* Background colour added to indicate Zoho++ has modified this element (important; as it's possible this CSS could affect elements we don't want affected too, and this will help identify the cause).*/
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse {
    overflow: visible;
    z-index: 9;
    position: relative;
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist {
    position: relative;
    overflow: visible;
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist::after {

    position: absolute;

    content: "???";
    top: 0;
    left: 105%;
    padding: 0.25rem;
    
    border: 1px solid #aaaaaa;
    /*background: linear-gradient(45deg, rgb(248, 255, 248) 0%, rgb(248, 255, 248) 25%, rgb(246, 246, 255) 25%, rgb(246, 246, 255) 50%,  rgb(255, 250, 250) 50%, rgb(255, 250, 250) 75%, rgb(255, 255, 246) 75%,  rgb(255, 255, 246) 100%);*/
    background: white;

    max-width: 100%;
    min-width: 10rem;
    white-space: break-spaces;
    
    color: black;

    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

    box-sizing: border-box;

    visibility: hidden;
    opacity: 0;

    pointer-events: none;
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist:hover::after {
    visibility: visible;
    transition: opacity 0ms linear 1000ms;
    opacity: 1;
}

/* Unique tooltip messages */
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="On Hold"]::after {
    content: "This task cannot be started until a prior task / bug is resolved.";
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="Not Started"]::after {
    content: "This task has not been started and may have its owner re-assigned.";
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="In Progress"]::after {
    content: "This task is currently being developed.";
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="Attention (low)"]::after {
    content: "This task has one or more minor issues that should be looked at. Also submit a bug(s) detailing them.";
} 
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="Attention (high)"]::after {
    content: "This task has one or more major issues that must be fixed before completion. Also submit a bug(s) detailing them.";
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="Ready for Review"]::after {
    content: "This task is complete and needs to be QAd by another user.";
}
[id^="CUSTOM_STATUSID"] + #taskupd_bulkfalse .popuplist[data-tooltip="Closed"]::after {
    content: "This task is fully complete.";
}

strike {
    opacity: 0.4;
}