body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0.5rem;
    background-color: rgb(230, 241, 250);
}

.bugsui__screenname,
.bugsui__details,
.bugsui__desc {
    padding: 0.75rem;
}


/* SCREEN NAME */
.bugsui__screenname {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: floralwhite;
}

.bugsui__screenname-text,
.bugsui__screenname-input {
    font-size: 1.5rem;
}

.bugsui__screenname-input {
    width: 2em;
    border: none;
    background-color: transparent;
    outline: none;
    text-align: center; 
}

.js-bugsui-tasknum,
.js-bugsui-tasksuffix {
    color: FireBrick;
}

.js-bugsui-tasknum {
    text-align: left; 
}

.js-bugsui-tasknum::-webkit-inner-spin-button,
.js-bugsui-tasknum::-webkit-outer-spin-button {
    opacity: 1;
}

.js-bugsui-tasksuffix {
    text-align: left;
}

.js-bugsui-tasksuffix::placeholder {
    font-style: italic;
    color: rgba(178, 34, 34, 0.3);
}

.bugsui__screenname > * {
    margin: 0 0.5rem;
}

/* DETAILS */
.bugsui__details {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    font-size: 1.1rem;

    align-items: center;
}

.bugsui__details-input select {
    font-size: 1rem;
    padding: 0.25rem;
}

/* DESCRIPTION */
.bugsui__desc-text {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.bugsui__desc-input {
    background-color: white;
    padding: 1.5rem;
    outline: none;
    height: 15rem;

    border: 1px solid #aaaaaa;
    overflow: auto;
}

.bugsui__desc-input ul,
.bugsui__desc-input ol {
    padding-left: 1.2em;
    margin: 0;
}

/* CONTROLS */
.bugsui__controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bugsui__btn {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

/* BLOCKER */
.bugsui__blocker {
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    padding: 1rem;

    background-color: rgba(128, 0, 128, 0.8);
}

.bugsui__blocker-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bugsui__blocker-title {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: center;

    text-shadow: 1px 1px 0px rgb(51, 0, 51);
}

.bugsui__blocker-console {
    margin-top: 1rem;
    display: block;
    width: auto;
    background-color: white;

    box-shadow: 1px 1px 0px rgb(51, 0, 51);

    overflow: auto;

    flex-grow: 1;

    padding: 1rem;
}